#home {
	background-image: url(../svg/icons/home.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #59C5C5;
			}
		}
	}
}

#user {
	background-image: url(../svg/icons/user.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #b470ba;
			}
		}
	}
}
#teacher {
	background-image: url(../svg/icons/teacher.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #94a0d0;
			}
		}
	}
}
#class {
	background-image: url(../svg/icons/class.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #9fbe03;
			}
		}
	}
}
#attendance {
	background-image: url(../svg/icons/attendance.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #f16971;
			}
		}
	}
}
#letters {
	background-image: url(../svg/icons/letters.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}
#share {
	background-image: url(../svg/icons/share.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #cacc12;
			}
		}
	}
}
#folder {
	background-image: url(../svg/icons/folder.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #35b3bb;
			}
		}
	}
}
#media {
	background-image: url(../svg/icons/media.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #f6914b;
			}
		}
	}
}
#settings {
	background-image: url(../svg/icons/settings.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #7080ba;
			}
		}
	}
}

#allteacher {
	background-image: url(../svg/icons/allteacher.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#allusers {
	background-image: url(../svg/icons/allusers.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dadd {
	background-image: url(../svg/icons/dadd.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dattendance {
	background-image: url(../svg/icons/dattendance.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dclose {
	background-image: url(../svg/icons/dclose.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dletters {
	background-image: url(../svg/icons/dletters.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dmedia {
	background-image: url(../svg/icons/dmedia.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dsettings {
	background-image: url(../svg/icons/dsettings.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dshare {
	background-image: url(../svg/icons/dshare.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#dteacher {
	background-image: url(../svg/icons/dteacher.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#duser {
	background-image: url(../svg/icons/duser.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#likes {
	background-image: url(../svg/icons/likes.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#message {
	background-image: url(../svg/icons/message.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#pictures {
	background-image: url(../svg/icons/pictures.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

#sound {
	background-image: url(../svg/icons/sound.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}

//----------------------------------------------- ico{icon}
.icoallteacher {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/allteacher.svg);
	background-size: 100% 100%;
}

.icoallusers {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/allusers.svg);
	background-size: 100% 100%;
}

.icodadd {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dadd.svg);
	background-size: 100% 100%;
}

.icodattendance {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dattendance.svg);
	background-size: 100% 100%;
}

.icodclose {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dclose.svg);
	background-size: 100% 100%;
}

.icodletters {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dletters.svg);
	background-size: 100% 100%;
}

.icodmedia {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dmedia.svg);
	background-size: 100% 100%;
}

.icodsettings {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dsettings.svg);
	background-size: 100% 100%;
}

.icodshare {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dshare.svg);
	background-size: 100% 100%;
}

.icodteacher {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/dteacher.svg);
	background-size: 100% 100%;
}

.icoduser {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/duser.svg);
	background-size: 100% 100%;
}

.icolikes {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/likes.svg);
	background-size: 100% 100%;
}

.icomessage {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/message.svg);
	background-size: 100% 100%;
}

.icopictures {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/pictures.svg);
	background-size: 100% 100%;
}

.icosound {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/sound.svg);
	background-size: 100% 100%;
}

.icomore {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../img/more.png);
	background-size: 100% 100%;
}

.icoedit {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../img/edit.png);
	background-size: 100% 100%;
}

.icoadd {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/add.svg);
	background-size: 100% 100%;
}

.icohome {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/home.svg);
	background-size: 100% 100%;
}
.icouser {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/user.svg);
	background-size: 100% 100%;
}
.icoteacher {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/teacher.svg);
	background-size: 100% 100%;
}
.icoclass {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/class.svg);
	background-size: 100% 100%;
}
.icoattendance {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/attendance.svg);
	background-size: 100% 100%;
}
.icoletters {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/letters.svg);
	background-size: 100% 100%;
}
.icoshare {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/share.svg);
	background-size: 100% 100%;
}
.icofolder {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/folder.svg);
	background-size: 100% 100%;
}
.icomedia {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/media.svg);
	background-size: 100% 100%;
}
.icosettings {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/settings.svg);
	background-size: 100% 100%;
}

.icoredclose {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../svg/icons/redclose.svg);
	background-size: 100% 100%;
}