#home {
	background-image: url(../svg/icons/home.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #59c5c5;
			}
		}
	}
}
#user {
	background-image: url(../svg/icons/user.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #b470ba;
			}
		}
	}
}
#teacher {
	background-image: url(../svg/icons/teacher.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #94a0d0;
			}
		}
	}
}
#class {
	background-image: url(../svg/icons/class.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #9fbe03;
			}
		}
	}
}
#attendance {
	background-image: url(../svg/icons/attendance.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #f16971;
			}
		}
	}
}
#letters {
	background-image: url(../svg/icons/letters.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #4dbddc;
			}
		}
	}
}
#share {
	background-image: url(../svg/icons/share.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #cacc12;
			}
		}
	}
}
#folder {
	background-image: url(../svg/icons/folder.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #35b3bb;
			}
		}
	}
}
#media {
	background-image: url(../svg/icons/media.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #f6914b;
			}
		}
	}
}
#settings {
	background-image: url(../svg/icons/settings.svg);
	> div.dropdown {
		> div {
			&:first-child {
				background: #7080ba;
			}
		}
	}
}

.icoattendance, .icoclass, .icoclose, .icofolder, .icohome, .icoletters, .icomedia, .icosettings, .icoshare, .icoteacher, .icouser {
	background-size: 100% 100%;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.icoattendance {
	background-image: url(../svg/icons/attendance.svg);
}

.icoclass {
	background-image: url(../svg/icons/class.svg);
}

.icoclose {
	background-image: url(../svg/icons/close.svg);
}

.icofolder {
	background-image: url(../svg/icons/folder.svg);
}

.icohome {
	background-image: url(../svg/icons/home.svg);
}

.icoletters {
	background-image: url(../svg/icons/letters.svg);
}

.icomedia {
	background-image: url(../svg/icons/media.svg);
}

.icosettings {
	background-image: url(../svg/icons/settings.svg);
}

.icoshare {
	background-image: url(../svg/icons/share.svg);
}

.icoteache {
	background-image: url(../svg/icons/teacher.svg);
}

.icouser {
	background-image: url(../svg/icons/user.svg);
}

.icomore {
	background: url(../img/more.png);
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.icoedit {
	background: url(../img/edit.png);
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.icoclasses {
	background: url(../svg/icons/class.svg);
	background-size: 100% 100%;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
}
