{# Reza Mohiti rm.biqarar@gmail.com #}
{% extends layout %}
{%block content%}
<style type="text/css">
	.tema-race {
		/*height: 75px;*/
		width: 368px;
		/*margin-right: 88px;*/
		background: #9fbe03;
		font-size: 25px;
		border-radius: 7px;
		padding: 4px 50px 4px 50px !important;
		text-align: center;
		/*cursor: pointer;*/
		display: inline-block;
	}
	.race-result {
		
		background: #59C5C5;

		/*font-size: 17px;*/
	}
	.racing-right {
		width:470px; display: inline-block; float:right;
	}
	.racing-left{
		width:470px;display:inline-block; float:right; margin-right:100px
	}

	.manfi-left {
		float:left; 
	}

	.manfi-right{

		/*width:390px;*/
		display:inline-block; 
		float:right; 
		/*margin-right:200px*/

	}

	.rt-disable{
		background: rgb(226,226,226) !important;
	}


	.settings {
		background-color: #7080ba;

	}
	.settings * {
		padding-right: 50px;
		padding-left: 50px;
		margin-right: 10px;
		margin-left: 10px;
		cursor: pointer;


	}

	.settings *:hover{
		background-color: #9fbe03;
	}

	.red {
		
		background-color: #f16971;
	}

</style>
<script type="text/javascript">
$(function(){
	$("tbody").sortable();
	$("tbody").disableSelection();

});
</script>

	
</table>
<center>
	<div class="racing-right">
		<div class="tema-race">{{team1.name}}</div>
		{{tagMaker.list(team1.list)}}
	</div>

	<div class="racing-left">
		<div class="tema-race">{{team2.name}}</div>
		{{tagMaker.list(team2.list)}}	
	</div>

	<dir style="clear:both"></dir>


<!-- result -->
	<div class="racing-right">
		<div class="tema-race race-result">
			<span class="manfi-right">
				<a style="font-size:15px;">امتیاز منفی:</a>
				<a style="cursor:pointer;" name="manfiup" teamid="{{team1.id}}" class="icoup race-manfi" type='up' 
					raceid="{{raceid}}"></a>
				<a id="race-result-manfi-{{team1.id}}">{{result1.manfi}}</a>
				<a style="cursor:pointer;" name="manfidown" teamid="{{team1.id}}" class="icodown race-manfi" type="down" raceid="{{raceid}}"></a>
			</span>
			<!-- <hr> -->
			<span class="manfi-left">
				<a style="font-size:15px;"> جمع : 
					<a style="font-size:15px;" id="race-result-value-{{team1.id}}">{{result1.value}}</a>
				</a>
				<br>
				نتیجه: 
				<a id="race-result-result-{{team1.id}}" >{{result1.result}}</a>
				<br>
				<a style="font-size:20px;"> امتیاز : 
					<a id="race-result-rate-{{team1.id}}">{{result1.rate}}</a>
				</a>
			</span>
		</div>

	</div>

	<div class="racing-left">
		<div class="tema-race race-result">

			<span class="manfi-right">
				<a style="font-size:15px;">امتیاز منفی:</a>
				<a style="cursor:pointer;" name="manfiup" teamid="{{team2.id}}" class="icoup race-manfi" type='up' 
					raceid="{{raceid}}"></a>
				<a id="race-result-manfi-{{team2.id}}">{{result2.manfi}}</a>
				<a style="cursor:pointer;" name="manfidown" teamid="{{team2.id}}" class="icodown race-manfi" type="down" raceid="{{raceid}}"></a>

			</span>
			<!-- <hr> -->
			<span class="manfi-left">

				<a style="font-size:15px;"> جمع : 
					<a style="font-size:15px;" id="race-result-value-{{team2.id}}">{{result2.value}}</a>
				</a>
				<br>
				نتیجه:
				<a id="race-result-result-{{team2.id}}" >{{result2.result}}</a>
				<br>
				<a style="font-size:20px;"> امتیاز : 
					<a id="race-result-rate-{{team2.id}}">{{result2.rate}}</a>
				</a>
				
			</span>
		</div>

	</div>
	<dir style="clear:both"></dir>


<section class="settings">
	<span id="save-sort" raceid="{{raceid}}">
		ذخیره ترتیب تیم ها
	</span>
	<span id="telavat1" raceid="{{raceid}}">
		تلاوت اول 
	</span>
	<span id="telavat2"  raceid="{{raceid}}">
		تلاوت دوم
	</span>
	<span id="setdone" raceid="{{raceid}}">
		ثبت اتمام مسابقه
	</span>

</section>


</center>

<script type="text/javascript">
	
	$(document).ready(function(){
		$('input.tr-disable').each(function(){
			// console.log($(this));
			$(this).parents("tr").addClass("rt-disable");
		})

		if("{{telavat}}" == "telavat1") {
				$("#telavat2").removeClass("red");
				$("#telavat1").addClass("red");
			}else{
				$("#telavat1").removeClass("red");
				$("#telavat2").addClass("red");
			}


	});
</script>


{%endblock%}