{# Ahmad Karimi ahmadkarimi1991@gmail.com #}
{% extends layout %}
{% block slideShow %}
{%endblock%}
{%block content%}
<style type="text/css">
	.wrapper .content-wrapper {
		margin: 115px auto 0;
		font-family: 'WRoya';
	}
	h4 {
		margin-right: 20px;
	}
	ul {
		list-style: none;
		padding-right: 20px;
	}
	li {
		margin-bottom: 10px;
	}
</style>
<h4>
	اهداف کلی مدیریت مرکز قرآن و حدیث:
</h4>
<ul>
	<li>1. ترویج، تبیین و تعمیق علوم و معارف قرآن و اهل بیت علیهم السلام با استفاده از ابزار‎های آموزشی.</li>
	<li>2. تدوین راهبردهای کلان و سیاستگذاری آموزشی و تربیتی متناسب با راهبردهای آستان مقدس حضرت معصومه علیها السلام.</li>
	<li>3. برنامه¬ریزی، اجرا و توسعه برنامه¬های متنوع آموزش معارف قرآنی و حدیثی متناسب با نیازهای جامعه و مخاطبان.</li>
	<li>4.  تهیه طرح جامع تعلیم و تربیت در آستان مقدس حضرت فاطمه معصومه علیها السلام.</li>
	<li>5.  تدوین کتب و محصولات آموزشی، تحقیقاتی به منظور افزایش بهره¬وری آموزش قرآنی و حدیثی.</li>
	<li>6.  شناسایی، جذب و تربیت اساتید مجرب بمنظور بهره¬گیری در زمینه تحقق برنامه‎های آموزشی.</li>
	<li>7. طراحی، تنظیم و بکارگیری سیستم نوین ارزیابی آموزشی و تربیتی بر اساس مبانی قرآنی و حدیثی.</li>
	<li>8.  شناسایی، جذب و ارتقاء سطح نخبگان و برگزیدگان قرآنی و حدیثی به منظور گسترش و تعمیق فرهنگ اسلامی و شیعی.</li>
	<li>9. به کارگیری فناوری‎ها و روش‎های نوین اطلاعاتی و ارتباطی با حفظ محتوای غنی مفاهیم قرآن و اهل بیت اطهار علیهم السلام در حوزه آموزش.</li>
	<li>10.  ایجاد بانک جامع و به روز اطلاعاتی و آماری در خصوص مربيان، متربيان، پژوهشگران، محققان و متفکران گروه در حوزه آموزش</li>
	<li>11. شناسایی اولويت‎ها و ضرورت‎هاي گروه‎های هدف و تعامل با دستگاه‎های ذی‎ربط برای اجرای طرح‎های آموزشی.</li>
</ul>
{%endblock%}