{%- macro child(childs) -%}
{% import _self as tag%}
	{%-for child in childs-%}
		{{-tag.make(child)-}}
	{%-endfor-%}
{%- endmacro -%}


{%- macro make(array) -%}
{% import _self as tag%}
<{{array.tagName}} {% for attr,value in array.attr%}{{attr}}="{{value}}" {% endfor %}>
	{{-array.text-}}
	{{-tag.child(array.childs)-}}
</{{array.tagName}}>
{%- endmacro -%}


{%- macro list(array) -%}
{% import _self as tag%}
<table class="table-list" >
	<tr>
		{%for header in array.header%}
		<th>{{header}}</th>
		{%endfor%}
	</tr>
	{%for alist in array.list%}
	<tr>
		{%for child in alist%}
			{% if child is iterable %}
				<td>{{tag.make(child)}}</td>
			{% else %}
				<td>{{child|lang|raw}}</td>
			{% endif %}
		{%endfor%}
	</tr>
	{%endfor%}
</table>
{%- endmacro -%}


{%- macro detail(array) -%}
{% import _self as tag%}
<table class="table-list">
	{% for key, link in array.list %}
		{% for k, li in array['list'][key] %}
			{% if k != 'id' %}
				{% if k != 'users_id' %}
					<tr>
						<th>{{k|lang|raw}}</th>
						<td>{{li|lang|raw}}</td>
					</tr>
				{%endif%}		
			{%endif%}
		{%endfor%}
	{%endfor%}
</table>
{%- endmacro -%}


{%- macro card(array) -%}
{% import _self as tag%}
{% if array %}
	<div class="right">
		<div class="detail-card">
			<div class="detail-card-body">
			<div class="detail-card-title">
				{% if array.titleLink %}
					<a href="{{array.titleLink}}" style="text-decoration: none">{{array.title|lang}}</a>
				{% else %}
					{{array.title|lang}}
				{%endif%}
				</div>
				
				<div class="detail-card-content">
					{{-tag.detail(array.list)-}}
				</div>
				
				<div class="detail-card-footer">
					{% if array.moreLink %}
						<a href="{{array.moreLink}}"  class="icomore" style="float:left; margin-right: 5px;"></a>
					{%endif%}
					{% if array.addLink %}
						<a href="{{array.addLink}}"  class="icoadd" style="float:left; margin-right: 5px;"></a>
					{%endif%}
					{% if array.editLink %}
						<a href="{{array.editLink}}"  class="icoedit" style="float:left; margin-right: 5px;"></a>
					{%endif%}
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
	</div>
{%endif%}
{%- endmacro -%}

{%- macro reportList(array) -%}
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}

		body {
			direction: rtl;
		}

		.list-wrapper {
			display: inline-block;
		}
		
		tbody{
		page-break-inside:avoid;
		page-break-after:auto;
		border-collapse: collapse;
		/*display:table;*/
		}

		table {
			width: 100%;
			direction: rtl;
		}

		tr:nth-child(2n) {
			background: #eee;
		}

		td, th {
			padding: 5px;
			border: 1px solid #eee;
			font-size: 10px;
		}

		.list-header {
			background: #eee;
			padding: 10px;
			font-size: 1.618rem;
			border: 1px solid #eee;
		}
	</style>
<div class="list-wrapper">
		<div class="list-header">{{array.title}}</div>
		<table cellspacing="0" cellpadding="0">
			{% set first_item = 0 %}
				{% for key, list in array %}
					{% if first_item == 0 %}
					<tbody>
						<tr>
						{% for field, item in list %}
							<th>{{field|lang}}</th>
						{%endfor%}
						</tr>
					<tbody>
					{% set first_item = 1 %}
					{%endif%}
				<tbody>
					<tr>
					{% for j, item in list %}
						<td>{{item|lang}}</td>
					{%endfor%}
					</tr>
				<tbody>
			{%endfor%}
			</tbody>
		</table>
	</div>

{%- endmacro -%}
