{# reza mohiti #}
{% extends layout %}
{% block content %}
<style type="text/css">
	.right {
		float: right;
		width: 70%;
	}

	.left {
		float: left;
		width: 30%;
	}

	.clearbox {
		clear: both;
	}
</style>

<div class="right">
	<div class="detail-card">
		<div class="detail-card-body">
			<div class="detail-card-title">اطلاعات فردی</div>
			
			<div class="detail-card-content">
				<table class="table-list">
					<tr>
						<th>
							نام پدر به انگلیسی
						</th>
						<td>
							haj agh javade bad ghomie bache azar
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

				

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>


					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>
				</table>
			</div>
			
			<div class="detail-card-footer">
				<a href="#" class="ico icomore" style="float:left; margin-right: 5px;"></a>
				<a href="#" class="ico icoadd" style="float:left; margin-right: 5px;"></a>
				<a href="#" class="ico icoedit" style="float:left; margin-right: 5px;"></a>
				<div class="clearbox"></div>
			</div>
		</div>
	</div>
	
	<div class="detail-card">
		<div class="detail-card-body">
			<div class="detail-card-title">فایل های فراگیر</div>
			<div class="detail-card-content">
				<table class="table-list">
					<tr>
						<th>
							نام پدر به انگلیسی
						</th>
						<td>
							haj agh javade bad ghomie bache azar
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>
				</table>
			</div>
			<div class="detail-card-footer">
				<a href="#" class="ico icomore" style="float:left; margin-right: 5px;"></a>
				<a href="#" class="ico icoadd" style="float:left; margin-right: 5px;"></a>
				<a href="#" class="ico icoedit" style="float:left; margin-right: 5px;"></a>
				<div class="clearbox"></div>
			</div>
		</div>
	</div>
	
	<div class="detail-card">
		<div class="detail-card-body">
			<div class="detail-card-title">اطلاعات پرسنلی</div>
			<div class="detail-card-content">
				<table class="table-list">
					<tr>
						<th>
							نام پدر به انگلیسی
						</th>
						<td>
							haj agh javade bad ghomie bache azar
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>

					<tr>
						<th>
							1
						</th>
						<td>
							2
						</td>
					</tr>
				</table>
			</div>
			<div class="detail-card-footer">
				<a href="#" class="ico icomore" style="float:left; margin-right: 5px;"></a>
				<a href="#" class="ico icoadd" style="float:left; margin-right: 5px;"></a>
				<a href="#" class="ico icoedit" style="float:left; margin-right: 5px;"></a>
				<div class="clearbox"></div>
			</div>
		</div>
	</div>
	
	<div class="clearbox"></div>
</div>
<div class="left">
	<div class="user-image">
		<img src="static/img/avatar.png" alt="user image">
	</div>
</div>
<div class="clearbox"></div>
{%endblock%}