{# Reza Mohiti rm.biqarar@gmail.com #}
{% extends layout %}
{% block content %}
<style type="text/css">
	#courseclasses-list {
		display:block;
		clear: both;
		margin: 20px;
	}
	.courseclasses-item {
		background:#ececec;
		padding: 5px;
		display: inline-block;
		border-radius: 3px;
		margin: 1px;
	}
	
</style>
<form class="ajx" method="post" action="courseclasses/{{global.url}}">
	{{forms.make(form.courseclasses)}}
</form>
<div id="courseclasses-list" >
</div>
{{dtable.make(dataTable)}}
{%endblock%}