{# Ahmad Karimi ahmadkarimi1991@gmail.com #}
{% extends layout %}
{% block slideShow %}
{%endblock%}
{%block content%}
<style type="text/css">
.contact-title{
	font-size: 19px;
}

.wrapper .content-wrapper {
	margin: 115px auto 0;
	font-family: 'WRoya';
}

li {
	list-style: none;
	margin-right: 180px;
}
</style>
<p>
	<h3>شماره های تماس با مرکز قرآن و حدیث کریمه اهل بیت علیها السلام</h3>
	<h4>دفتر مدیریت مرکز قرآن و حدیث</h4>
	<li>025-37175-501</li>
	<h4>اداره آموزش و تربیت برادران</h4>
	<li>025-37175-530</li>
	<h4>اداره آموزش و تربیت خواهران</h4>
	<li>025-37175-504</li>
	<h4>اداره آموزش مجازی و غیر حضوری</h4>
	<li>025-37175-215</li>
</p>


{%endblock%}