{# Reza Mohiti rm.biqarar@gmail.com #}
{% extends layout %}
{%block content%}
{{tagMaker.list(list)}}
<style type="text/css">
	.presence-insert {
		background: #ececec;
		border-radius: 7px;
		padding: 25px 50px 25px 50px !important;
		text-align: center;
		display:  none;
	}
	a {
		text-decoration: none;
	}
</style>

<p><b>
	سیستم ثبت حضور فراگیران در کلاس:
</b></p>
<p>
	شما می توانید با اسکن بارکد موجود در کارت ملی و یا شناسنامه فراگیر یا بارکد تولید شده از شماره پرونده فراگیر نسبت به ثبت حضور آن شخص اقدام نمایید.
</p>
<p><b>
	ثبت حضور در تاریخ {{dateNow}}
</b></p>
<div class="form-element">
	<label for="name" class="input-label">شماره پرونده یا کد ملی<span class="fieldrequired">*</span></label>
	<input type="text" name="presence" placeholder="اسکن کنید" id="presence" required classesid="{{global.classesid}}">
</div>

<div class="presence-insert" ></div>

{%endblock%}