@charset "utf-8";

// Variables and Mixins
@import "partials/base";

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/header";
@import "partials/menu";
@import "partials/icons";
@import "partials/tabs";
@import "partials/inputs";
@import "partials/footer";
@import "partials/cards";

.wrapper {
	margin-right: 129px;
	margin-left: 65px;
	min-height: 70%;
	margin-bottom: 10px;
	> .ui-widget-content {
		border: none;
	}
}
.perload-svg {
	margin: 0 auto;
	display: block;
}
// Submit Status
.submit-status {
	float: left;
	min-width: 300px;

	ul {
		list-style: none;
	}

	.submit-status-fatal {
		&:before {
			content: "تراکنش با خطا مواجه شد";
			display: inline-block;
			margin-right: -10px;
			font-family: "WYekan";
			font-size: 15px;
		}
	}

	.submit-status-warn {
		&:before {
			content: "اخطار";
			display: inline-block;
			margin-right: -10px;
			font-family: "WYekan";
			font-size: 15px;
		}
	}

	.submit-status-true {
		&:before {
			content: "تراکنش باموفقیت صورت گرفت";
			display: inline-block;
			margin-right: -10px;
			font-family: "WYekan";
			font-size: 15px;
		}
	}
}
.ajx, .formx {
	float: right;
}
.stateClass {
	position: relative;
}
.statePerlaod, .stateUPerlaod {
	position: absolute;
	background: rgba(255, 255, 255, .3);
	display: block;
	border-top: 1px solid #26afe2;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	-webkit-animation: statePerload 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.uploadPerload {
	text-align: right;
	direction: rtl;
	vertical-align: middle;
	position: absolute;
	background: rgba(38, 175, 226, .6);
	display: block;
	border-left: 3px solid #26afe2;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	-webkit-transition-property: width;
	-webkit-transition-duration: 50ms;
	-webkit-transition-timing-function: linear;
}
.muploadPerload {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
@-webkit-keyframes statePerload {
	0% {
		width: 20%;
	}
	50% {
		width: 80%;
	}
	75% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
.filebox-form {
	display: none;
}
.img-preview {
	width: 100px;
	display: inline-block;
}
.jcrop-holder {
	display: inline-block;
}

.table-list {
	width: 100%;
	border-spacing: 1px;

	tr {
		&:nth-child(even) {
			background-color: #fafafa;
		}

		&:nth-child(odd) {
			background-color: #f0f9f0;
		}

		&:hover {
			td {
				color: #333;
			}
		}
	}

	th {
		// background-color: #f2eeef;
		background-color: #f0f9f0;
		color: #393939;
		font-size: 12px;
		font-family: "WYekan";
	}

	td {
		text-align: right;
		padding: 5px 10px;
		font-family: "WRoya";
		color: #666;
		font-size: 13px;
		@include my-transition;
	}
}

.clearbox {
	clear: both;
}

ul.copire-contextmenu{
	min-width: 90px;
	background: #fff;
	position: absolute;
	border: 1px solid #e7e7e7;
	z-index: 9999;
	display: none;
	list-style: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04706);
	-webkit-padding-start: 0;
}
.copire-contextmenu>li{
	font-family: 'WRoya';
	padding: 5px 20px;
	color: #222222;

	&:not(:last-child) {
		border-bottom: 1px solid #e7e7e7;
	}

	&:hover {
		background-color: #b0c4b0;
	}
}
#status-xhr{
	border: 1px solid #00BBEC;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 9999999;
	top:0;
	left: 50%;
	margin-left: -100px;
	background: white;
	min-width: 200px;
	padding: 5px;
	text-align: center;
	font-family: WYekan;
	font-size: 12px;
	&.status-xhr-warn{
		border-color :#CACC12;
	}
	&.status-xhr-error{
		border-color :#B470BA;
	}
}
.custom-combobox-input{
	background: #e2e2e2;
	outline: 1px solid #b7b7b7;
	outline-offset: 1px;
	border: none;
	border-radius: 2px;
	padding: 2px 10px;
	height: 24px;
	width: 240px;
	line-height: 24px;
	font-family: "WYekan"!important;
	font-size: 12px!important;
	color: #333 !important;
}
.ui-autocomplete{
	overflow-y:auto;
	overflow-x:hidden
}
.ui-tooltip{
	font-family: "WYekan"!important;
	font-size: 12px!important;
}
.custom-combobox>.ui-icon-triangle-1-s{
	display: inline-block;
	position: relative;
	left: 20px;
	top: 5px;
	cursor: pointer;
}

.slider-number {
	width: 25px !important;
}

.ui-sslider {
	width: 190px;
	float: left;
	margin-right: 24px;
	margin-top: 6px; 
}


.status-warn {
	background: #FFECB3;
	border: 1px solid #FFD54F;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
}
.status-fatal {
	background: #FFCDD2;
	border: 1px solid #E57373;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
}
.status-true {
	background: #DCEDC8;
	border: 1px solid #66BB6A;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
}
a {
	text-decoration: none !important;
}


.title {
	width: 285px;
	height: 75px;
	background: url(../svg/title.svg) no-repeat center center;
	position: absolute;
	top: 7px;
	right: 172px;
	z-index: 99999;
}
#image-target{
	float: right;
	margin-right: 30px;
	display: none;
	button {
		display: block;
	}
	button img{
		margin-top: 5px;
	}
	img#image-target-img {
		display: block;
	}
}
	
		.top-links {
			text-align: center;
		}

		.top-links-icon {
			width: 20px;
			height: 20px;
			background: red;
			display: inline-block;
			background: url('../img/ico-top-links-off.png') no-repeat;
			-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
			-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

			-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
			-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
		}

		.top-links-wrapper {
			display: inline-block;
			height: 20px;
		}

		.top-links:hover .top-links-icon {
			background: url('../img/ico-top-links-on.png') no-repeat;
		}

		.top-links-span {
			height: 20px;
			display: inline-block;
			width: 0;
			visibility: hidden;
			opacity: 0;
			-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
			-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

			-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
			-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
			        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
		}

		.top-links:hover .top-links-span {
			width: 70px;
			visibility: visible;
			opacity: 1;
		}