@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background: #ececec; }

@font-face {
  font-family: 'WYekan';
  src: url("../fonts/YekanWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WRoya';
  src: url("../fonts/RoyaWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.top-tape {
  height: 8px;
  background: #f9f9f9 url(../svg/top-text.svg) repeat-x center right;
  padding: 1px 0;
  border-bottom: 1px solid #875f12; }

.header-portal {
  height: 66px;
  border-bottom: 1px solid #875f12;
  background: #72a809 url(../img/portal-header.png) center right no-repeat;
  position: relative; }
  .header-portal .shamseh {
    width: 196px;
    height: 126px;
    background: url(../svg/shamseh.svg) no-repeat center center;
    background-size: 196px 126px;
    position: absolute;
    top: 9px;
    right: 30px; }
    .header-portal .shamseh .shamseh-noghte {
      width: inherit;
      height: inherit;
      background: url(../img/noghteh-shamseh.png) no-repeat center center;
      background-size: 196px 126px; }
      .header-portal .shamseh .shamseh-noghte .logo {
        width: inherit;
        height: inherit;
        background: url(../svg/logo.svg) no-repeat center center;
        background-size: 70px 90px; }
  .header-portal .user-info {
    width: 75px;
    height: 56px;
    position: absolute;
    left: 33px;
    top: 26px; }
    .header-portal .user-info .avatar {
      height: 57px;
      width: 57px;
      float: left; }
      .header-portal .user-info .avatar > img {
        border: 1px solid #a8b3b1;
        float: left; }
    .header-portal .user-info .info {
      width: 12px;
      position: relative;
      top: 51px;
      float: right;
      border-top: 1px solid #A8B3B1;
      border-bottom: 1px solid #A8B3B1;
      display: none; }
      .header-portal .user-info .info > div {
        width: inherit;
        height: 1px;
        background: #A8B3B1;
        margin: 2px 0; }

.thin-line {
  height: 1px;
  background: #b6b23c;
  border-bottom: 1px solid #875f12;
  margin-bottom: 50px; }

.menu {
  width: 51px;
  background: #fff;
  position: absolute;
  right: 0;
  z-index: 1200;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }
  .menu > div {
    height: 38px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 24px;
    position: relative;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear; }
    .menu > div > div {
      width: 150px;
      background: #f6f6f6;
      position: absolute;
      z-index: 1000;
      right: 53px;
      top: -1px;
      border: 1px solid #e5e5e5;
      font-family: "WYekan";
      font-size: 12px;
      color: #6a7172;
      display: none; }
      .menu > div > div > div {
        line-height: 22px; }
        .menu > div > div > div:first-child {
          color: #fff;
          font-size: 14px;
          padding: 8px 15px 8px;
          cursor: default;
          border-bottom: 1px solid #e5e5e5; }
        .menu > div > div > div:not(:first-child) {
          padding: 5px 25px; }
        .menu > div > div > div > a {
          color: #6a7172;
          text-decoration: none; }
          .menu > div > div > div > a :visited {
            color: #6a7172; }
    .menu > div:hover {
      background-color: #f6f6f6; }
    .menu > div:not(:first-child):hover {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5; }
    .menu > div:first-child:hover {
      border-top: 1px solid transparent;
      border-bottom: 1px solid #e5e5e5; }
    .menu > div:last-child:hover {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid transparent; }

#home {
  background-image: url(../svg/icons/home.svg); }
  #home > div.dropdown > div:first-child {
    background: #59C5C5; }

#user {
  background-image: url(../svg/icons/user.svg); }
  #user > div.dropdown > div:first-child {
    background: #b470ba; }

#teacher {
  background-image: url(../svg/icons/teacher.svg); }
  #teacher > div.dropdown > div:first-child {
    background: #94a0d0; }

#class {
  background-image: url(../svg/icons/class.svg); }
  #class > div.dropdown > div:first-child {
    background: #9fbe03; }

#attendance {
  background-image: url(../svg/icons/attendance.svg); }
  #attendance > div.dropdown > div:first-child {
    background: #f16971; }

#letters {
  background-image: url(../svg/icons/letters.svg); }
  #letters > div.dropdown > div:first-child {
    background: #4dbddc; }

#share {
  background-image: url(../svg/icons/share.svg); }
  #share > div.dropdown > div:first-child {
    background: #cacc12; }

#folder {
  background-image: url(../svg/icons/folder.svg); }
  #folder > div.dropdown > div:first-child {
    background: #35b3bb; }

#media {
  background-image: url(../svg/icons/media.svg); }
  #media > div.dropdown > div:first-child {
    background: #f6914b; }

#settings {
  background-image: url(../svg/icons/settings.svg); }
  #settings > div.dropdown > div:first-child {
    background: #7080ba; }

#allteacher {
  background-image: url(../svg/icons/allteacher.svg); }
  #allteacher > div.dropdown > div:first-child {
    background: #4dbddc; }

#allusers {
  background-image: url(../svg/icons/allusers.svg); }
  #allusers > div.dropdown > div:first-child {
    background: #4dbddc; }

#dadd {
  background-image: url(../svg/icons/dadd.svg); }
  #dadd > div.dropdown > div:first-child {
    background: #4dbddc; }

#dattendance {
  background-image: url(../svg/icons/dattendance.svg); }
  #dattendance > div.dropdown > div:first-child {
    background: #4dbddc; }

#dclose {
  background-image: url(../svg/icons/dclose.svg); }
  #dclose > div.dropdown > div:first-child {
    background: #4dbddc; }

#dletters {
  background-image: url(../svg/icons/dletters.svg); }
  #dletters > div.dropdown > div:first-child {
    background: #4dbddc; }

#dmedia {
  background-image: url(../svg/icons/dmedia.svg); }
  #dmedia > div.dropdown > div:first-child {
    background: #4dbddc; }

#dsettings {
  background-image: url(../svg/icons/dsettings.svg); }
  #dsettings > div.dropdown > div:first-child {
    background: #4dbddc; }

#dshare {
  background-image: url(../svg/icons/dshare.svg); }
  #dshare > div.dropdown > div:first-child {
    background: #4dbddc; }

#dteacher {
  background-image: url(../svg/icons/dteacher.svg); }
  #dteacher > div.dropdown > div:first-child {
    background: #4dbddc; }

#duser {
  background-image: url(../svg/icons/duser.svg); }
  #duser > div.dropdown > div:first-child {
    background: #4dbddc; }

#likes {
  background-image: url(../svg/icons/likes.svg); }
  #likes > div.dropdown > div:first-child {
    background: #4dbddc; }

#message {
  background-image: url(../svg/icons/message.svg); }
  #message > div.dropdown > div:first-child {
    background: #4dbddc; }

#pictures {
  background-image: url(../svg/icons/pictures.svg); }
  #pictures > div.dropdown > div:first-child {
    background: #4dbddc; }

#sound {
  background-image: url(../svg/icons/sound.svg); }
  #sound > div.dropdown > div:first-child {
    background: #4dbddc; }

#calendar {
  background-image: url(../svg/icons/calendar.svg); }
  #calendar > div.dropdown > div:first-child {
    background: #4dbddc; }

#certification {
  background-image: url(../svg/icons/certification.svg); }
  #certification > div.dropdown > div:first-child {
    background: #4dbddc; }

#mail {
  background-image: url(../svg/icons/mail.svg); }
  #mail > div.dropdown > div:first-child {
    background: #4dbddc; }

#price {
  background-image: url(../svg/icons/price.svg); }
  #price > div.dropdown > div:first-child {
    background: #4dbddc; }

#score {
  background-image: url(../svg/icons/score.svg); }
  #score > div.dropdown > div:first-child {
    background: #4dbddc; }

#certificationdisable {
  background-image: url(../svg/icons/certificationdisable.svg); }
  #certificationdisable > div.dropdown > div:first-child {
    background: #4dbddc; }

.icocertificationdisable {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/certificationdisable.svg);
  background-size: 100% 100%; }

.icoallteacher {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/allteacher.svg);
  background-size: 100% 100%; }

.icoallusers {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/allusers.svg);
  background-size: 100% 100%; }

.icodadd {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dadd.svg);
  background-size: 100% 100%; }

.icodattendance {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dattendance.svg);
  background-size: 100% 100%; }

.icodclose {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dclose.svg);
  background-size: 100% 100%; }

.icodletters {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dletters.svg);
  background-size: 100% 100%; }

.icodmedia {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dmedia.svg);
  background-size: 100% 100%; }

.icodsettings {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dsettings.svg);
  background-size: 100% 100%; }

.icodshare {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dshare.svg);
  background-size: 100% 100%; }

.icodteacher {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/dteacher.svg);
  background-size: 100% 100%; }

.icoduser {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/duser.svg);
  background-size: 100% 100%; }

.icolikes {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/likes.svg);
  background-size: 100% 100%; }

.icomessage {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/message.svg);
  background-size: 100% 100%; }

.icopictures {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/pictures.svg);
  background-size: 100% 100%; }

.icosound {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/sound.svg);
  background-size: 100% 100%; }

.icomore {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../img/more.png);
  background-size: 100% 100%; }

.icoedit {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../img/edit.png);
  background-size: 100% 100%; }

.icoadd {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/add.svg);
  background-size: 100% 100%; }

.icohome {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/home.svg);
  background-size: 100% 100%; }

.icouser {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/user.svg);
  background-size: 100% 100%; }

.icoteacher {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/teacher.svg);
  background-size: 100% 100%; }

.icoclass {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/class.svg);
  background-size: 100% 100%; }

.icoattendance {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/attendance.svg);
  background-size: 100% 100%; }

.icoletters {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/letters.svg);
  background-size: 100% 100%; }

.icoshare {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/share.svg);
  background-size: 100% 100%; }

.icofolder {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/folder.svg);
  background-size: 100% 100%; }

.icomedia {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/media.svg);
  background-size: 100% 100%; }

.icosettings {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/settings.svg);
  background-size: 100% 100%; }

.icoredclose {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/redclose.svg);
  background-size: 100% 100%; }

.icocalendar {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/calendar.svg);
  background-size: 100% 100%; }

.icocertification {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/certification.svg);
  background-size: 100% 100%; }

.icomail {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/mail.svg);
  background-size: 100% 100%; }

.icoprice {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/price.svg);
  background-size: 100% 100%; }

.icoscore {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: url(../svg/icons/score.svg);
  background-size: 100% 100%; }

#tabs.ui-widget-content {
  background: transparent; }

#tabs {
  overflow: hidden;
  position: inherit;
  padding: 0;
  font-size: 12px; }
  #tabs > ul {
    padding: 0;
    margin-right: 70px;
    border-bottom: none;
    width: 6000px;
    position: inherit;
    background: transparent;
    border: none;
    font-weight: normal !important; }
    #tabs > ul .ui-state-default {
      border: none;
      background: url(../svg/tab-default.svg) no-repeat;
      width: 193px; }
    #tabs > ul li {
      margin-right: -20px;
      width: 193px;
      height: 30px !important;
      margin-top: 0;
      text-align: right;
      margin-bottom: -1px;
      outline: none;
      overflow: hidden; }
      #tabs > ul li > a {
        font-family: "WYekan";
        outline: none;
        float: right;
        padding: 5px 20px 0 0;
        width: 145px;
        margin-top: 7px;
        overflow: hidden; }
      #tabs > ul li .ui-icon-close {
        width: 10px;
        height: 10px;
        float: right;
        position: absolute;
        top: 2px;
        right: 18px; }
    #tabs > ul li.ui-state-default {
      border: none;
      background: url(../svg/tab-default.svg) no-repeat;
      width: 193px; }
      #tabs > ul li.ui-state-default a {
        color: #988984; }
        #tabs > ul li.ui-state-default a:link {
          color: #988984; }
        #tabs > ul li.ui-state-default a:visited {
          color: #988984; }
    #tabs > ul li.ui-state-active {
      padding-bottom: 0;
      background: url(../svg/tab-active.svg) no-repeat;
      width: 193px;
      z-index: 999; }
      #tabs > ul li.ui-state-active > a {
        color: #875546;
        width: 145px;
        cursor: default; }
    #tabs > ul li.ui-state-default:hover .ui-icon-close, #tabs > ul li.ui-state-active:hover .ui-icon-close {
      background: url(../svg/icons/close.svg) -10px 0 no-repeat; }
    #tabs > ul li.ui-state-default .ui-icon-close, #tabs > ul li.ui-state-active .ui-icon-close {
      background: url(../svg/icons/close.svg) 0 0 no-repeat; }
      #tabs > ul li.ui-state-default .ui-icon-close:hover, #tabs > ul li.ui-state-active .ui-icon-close:hover {
        background: url(../svg/icons/close.svg) -20px 0 no-repeat; }
  #tabs > div {
    background: #fff;
    font-family: "WRoya";
    font-size: 1rem;
    border-right: 1px solid #f8fdfd;
    border-left: 1px solid #f8fdfd;
    border-top: 1px solid #00bbec;
    overflow: auto; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.ui-state-active, .ui-state-default, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  font-weight: normal !important; }

.x4 {
  background: url(../svg/tab-default.svg) no-repeat; }

.x4.active {
  background: url(../svg/tab-active.svg) no-repeat; }

.ui-state-default.dot3:after, .ui-state-active.dot3:after {
  content: "...";
  padding-top: 12px;
  padding-right: 3px;
  display: inline-block; }

.ui-state-default.dot3:after {
  color: #988984; }

.ui-state-active.dot3:after {
  color: #875546; }

label {
  display: inline-block; }

.form-element {
  margin-bottom: 10px; }
  .form-element .input-label {
    width: 170px;
    vertical-align: top;
    text-align: left;
    padding-left: 10px; }
  .form-element input[type="text"], .form-element input[type="password"], .form-element input[type="email"], .form-element span.ui-selectmenu-button, .form-element .autocomplete, .form-element textarea {
    background: #e2e2e2;
    outline: 1px solid #b7b7b7;
    outline-offset: 1px;
    border: none;
    border-radius: 2px;
    padding: 2px 10px;
    height: 24px;
    width: 240px;
    line-height: 24px;
    font-family: "WYekan";
    font-size: 12px;
    color: #333 !important; }
    .form-element input[type="text"]:focus, .form-element input[type="text"]:active, .form-element input[type="password"]:focus, .form-element input[type="password"]:active, .form-element input[type="email"]:focus, .form-element input[type="email"]:active, .form-element span.ui-selectmenu-button:focus, .form-element span.ui-selectmenu-button:active, .form-element .autocomplete:focus, .form-element .autocomplete:active, .form-element textarea:focus, .form-element textarea:active {
      background: #e6e6e6; }
  .form-element textarea {
    resize: none;
    height: 185px; }
  .form-element button {
    font-family: "WYekan";
    font-size: 14px;
    padding: 3px 12px; }
  .form-element span.ui-selectmenu-button {
    width: 240px !important; }
    .form-element span.ui-selectmenu-button span.ui-icon {
      left: .5em;
      right: auto;
      background-image: url("../jquery-ui/images/ui-icons_222222_256x240.png");
      background-position: -64px -16px; }
    .form-element span.ui-selectmenu-button span.ui-selectmenu-text {
      text-align: right;
      padding: 0;
      line-height: inherit; }

.ui-selectmenu-menu ul.ui-menu {
  border: 1px solid #b7b7b7;
  width: 240px;
  max-height: 200px; }
  .ui-selectmenu-menu ul.ui-menu li {
    font-family: "WYekan";
    font-size: 12px; }
  .ui-selectmenu-menu ul.ui-menu li.ui-menu-item {
    background: none; }
    .ui-selectmenu-menu ul.ui-menu li.ui-menu-item.ui-state-focus {
      border: 1px solid #bce1ec;
      color: #60b0e6; }

.ui-autocomplete {
  border: 1px solid #b7b7b7;
  width: 240px;
  max-height: 200px; }
  .ui-autocomplete .ui-menu-item {
    font-family: "WYekan";
    font-size: 12px;
    background: none; }
    .ui-autocomplete .ui-menu-item.ui-state-focus {
      border: 1px solid #bce1ec;
      color: #60b0e6; }

.label-radio input + span {
  border-radius: 7px; }

.brk-form-custom {
  height: 21px;
  width: 20px;
  position: relative;
  display: inline-block; }

.label-custom {
  vertical-align: top;
  margin-left: 10px; }
  .label-custom input {
    opacity: 0;
    position: absolute; }

.label-custom input + .brk-form-custom span:first-child {
  position: absolute;
  top: 4px;
  left: 1.5px;
  height: 15px;
  width: 15px;
  display: inline-block;
  padding: 0;
  border-radius: 1px;
  margin-right: 5px; }

.label-custom input:disabled + .brk-form-custom span:first-child {
  background: #999; }

.label-custom input:enabled + .brk-form-custom span:first-child {
  background: #e6e6e6; }

.label-custom input:checked:enabled + .brk-form-custom span:first-child {
  background: #529997; }

.label-custom input:checked + .brk-form-custom span:last-child {
  border-radius: 1px;
  position: absolute;
  height: 17px;
  width: 13px;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0 0 0 0;
  border-radius: 1px;
  background: url("../svg/icons/mtik.svg"); }

.label-custom input:enabled:focus + .brk-form-custom span:first-child, .label-custom input:enabled:hover + .brk-form-custom span:first-child {
  outline: 1px dotted #5f5f5f;
  outline-offset: 1.5px; }

.label-radio input + .brk-form-custom span:first-child {
  border-radius: 7px; }

.footer {
  height: 22px;
  background: #dbf0f6;
  border-top: 1px solid #bce1ec;
  font-family: 'WRoya';
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  color: #60b0e6; }

.detail-card {
  width: 50%;
  float: right;
  padding: 5px;
  box-sizing: border-box; }

.detail-card-body {
  background: #fff;
  border: 1px solid #bdbdbd; }

.detail-card-title {
  padding: 5px;
  border-bottom: 1px solid #bdbdbd;
  font-family: 'WYekan';
  font-size: 12px;
  color: #777; }

.detail-card-content {
  padding: 5px;
  min-height: 100px; }

.detail-card-footer {
  padding: 5px; }

.user-image {
  width: 100px;
  height: 133px;
  float: left;
  border: 5px solid #fff;
  box-shadow: 0 0 1px grey; }

.user-image > img {
  width: 100%;
  height: 100%; }

.detail-card-content tr:nth-child(odd) th, .detail-card-content tr:nth-child(odd) td {
  background: #fff; }

.detail-card-content tr:nth-child(even) th, .detail-card-content tr:nth-child(even) td {
  background: #f5f5f5; }

.wrapper {
  margin-right: 129px;
  margin-left: 65px;
  min-height: 70%;
  margin-bottom: 10px; }
  .wrapper > .ui-widget-content {
    border: none; }

.perload-svg {
  margin: 0 auto;
  display: block; }

.submit-status {
  float: left;
  min-width: 300px; }
  .submit-status ul {
    list-style: none; }
  .submit-status .submit-status-fatal:before {
    content: "تراکنش با خطا مواجه شد";
    display: inline-block;
    margin-right: -10px;
    font-family: "WYekan";
    font-size: 15px; }
  .submit-status .submit-status-warn:before {
    content: "اخطار";
    display: inline-block;
    margin-right: -10px;
    font-family: "WYekan";
    font-size: 15px; }
  .submit-status .submit-status-true:before {
    content: "تراکنش باموفقیت صورت گرفت";
    display: inline-block;
    margin-right: -10px;
    font-family: "WYekan";
    font-size: 15px; }

.ajx, .formx {
  float: right; }

.stateClass {
  position: relative; }

.statePerlaod, .stateUPerlaod {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  border-top: 1px solid #26afe2;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-animation: statePerload 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

.uploadPerload {
  text-align: right;
  direction: rtl;
  vertical-align: middle;
  position: absolute;
  background: rgba(38, 175, 226, 0.6);
  display: block;
  border-left: 3px solid #26afe2;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition-property: width;
  -webkit-transition-duration: 50ms;
  -webkit-transition-timing-function: linear; }

.muploadPerload {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

@-webkit-keyframes statePerload {
  0% {
    width: 20%; }

  50% {
    width: 80%; }

  75% {
    width: 100%; }

  100% {
    width: 0; } }

.filebox-form {
  display: none; }

.img-preview {
  width: 100px;
  display: inline-block; }

.jcrop-holder {
  display: inline-block; }

.table-list {
  width: 100%;
  border-spacing: 1px; }
  .table-list tr:nth-child(even) {
    background-color: #fafafa; }
  .table-list tr:nth-child(odd) {
    background-color: #f0f9f0; }
  .table-list tr:hover td {
    color: #333; }
  .table-list th {
    background-color: #f0f9f0;
    color: #393939;
    font-size: 12px;
    font-family: "WYekan"; }
  .table-list td {
    text-align: right;
    padding: 5px 10px;
    font-family: "WRoya";
    color: #666;
    font-size: 13px;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear; }

.clearbox {
  clear: both; }

ul.copire-contextmenu {
  min-width: 90px;
  background: #fff;
  position: absolute;
  border: 1px solid #e7e7e7;
  z-index: 9999;
  display: none;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04706);
  -webkit-padding-start: 0; }

.copire-contextmenu > li {
  font-family: 'WRoya';
  padding: 5px 20px;
  color: #222222; }
  .copire-contextmenu > li:not(:last-child) {
    border-bottom: 1px solid #e7e7e7; }
  .copire-contextmenu > li:hover {
    background-color: #b0c4b0; }

#status-xhr {
  border: 1px solid #00BBEC;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 50%;
  margin-left: -100px;
  background: white;
  min-width: 200px;
  padding: 5px;
  text-align: center;
  font-family: WYekan;
  font-size: 12px; }
  #status-xhr.status-xhr-warn {
    border-color: #CACC12; }
  #status-xhr.status-xhr-error {
    border-color: #B470BA; }

.custom-combobox-input {
  background: #e2e2e2;
  outline: 1px solid #b7b7b7;
  outline-offset: 1px;
  border: none;
  border-radius: 2px;
  padding: 2px 10px;
  height: 24px;
  width: 240px;
  line-height: 24px;
  font-family: "WYekan" !important;
  font-size: 12px !important;
  color: #333 !important; }

.ui-autocomplete {
  overflow-y: auto;
  overflow-x: hidden; }

.ui-tooltip {
  font-family: "WYekan" !important;
  font-size: 12px !important; }

.custom-combobox > .ui-icon-triangle-1-s {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 5px;
  cursor: pointer; }

.slider-number {
  width: 25px !important; }

.ui-sslider {
  width: 190px;
  float: left;
  margin-right: 24px;
  margin-top: 6px; }

.status-warn {
  background: #FFECB3;
  border: 1px solid #FFD54F;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block; }

.status-fatal {
  background: #FFCDD2;
  border: 1px solid #E57373;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block; }

.status-true {
  background: #DCEDC8;
  border: 1px solid #66BB6A;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block; }

a {
  text-decoration: none !important; }

.title {
  width: 285px;
  height: 75px;
  background: url(../svg/title.svg) no-repeat center center;
  position: absolute;
  top: 7px;
  right: 172px;
  z-index: 99999; }

#image-target {
  float: right;
  margin-right: 30px;
  display: none; }
  #image-target button {
    display: block; }
  #image-target button img {
    margin-top: 5px; }
  #image-target img#image-target-img {
    display: block; }
