{# reza mohiti #}
{% extends layout %}
{% block content %}
<h4>ثبت شهریه برای فراگیر {{global.name}}</h4>
<form class="ajx" method="post" action="price/{{global.url}}">
	{{forms.make(form.price)}}
</form>

<script type="text/javascript">
	function CommaFormatted(amount) {
		var delimiter = ","; // replace comma if desired
		var _val = amount;
		// a = amount.split('.',2)
		// d = a[1];
		// i = parseInt(a[0]);
		// if (isNaN(i)) { return ''; }
		// minus = '';
		// if (i < 0) { minus = '-'; }
		// i = Math.abs(i);
		// n = new String(i);
		// a = [];
		// while (n.length > 3) {
		// 	nn = n.substr(n.length-3);
		// 	a.unshift(nn);
		// 	n = n.substr(0,n.length-3);
		// }
		// 
		while (_val.length > 3) {
			var nn = _val.substr(_val.length-3);
			console.log(nn);
		}
		// 
		// if (n.length > 0) { a.unshift(n); }
		// n = a.join(delimiter);
		// if (d.length < 1) { amount = n; }
		// else { amount = n + '.' + d; }
		// amount = minus + amount;
		// return amount;
	}

	$('#value').keyup(function() {
		CommaFormatted($(this).val());
	});
</script>
{%endblock%}