{% extends layout %}
{% block head %}
{{ parent() }}
	<style type="text/css">
		@media print{
			@page {
				size: landscape
			}
		}

		* {
			margin: 0;
			padding: 0;
		}

		body {
			direction: rtl;
			background: #fff;
		}

		table {
			width: 100%;
			direction: rtl;
			font-family: 'WRoya';
		}

		table td, table th {
			border: 1px solid black;
			padding: 1px !important;
			text-align: center;
		}

		.small-font {
			font-size: 10px;
			font-weight: bold;
		}

		.normal-font {
			font-size: 12px;
		}

		.system-default {
			font-family: 'WYekan';
		}

		.colory {
			background: #eee;
		}

		.class-details {
			padding: 5px 10px;
		}

		.class-detail {
			float: right;
			margin-left: 35px;
		}

		.class-detail-title, .class-detail-value {
			display: inline-block;
			padding: 5px;
			font-family: 'WYekan';
		}
	</style>
{%endblock%}
{% block body %}
	<div class="class-details colory">
		<div class="class-detail normal-font">
			<div class="class-detail-title">نام کلاس:</div>
			<div class="class-detail-value">کلاس مشاوره خانواده</div>
		</div>
		<div class="class-detail normal-font">
			<div class="class-detail-title">نام کلاس:</div>
			<div class="class-detail-value">کلاس مشاوره خانواده</div>
		</div>
		<div class="class-detail normal-font">
			<div class="class-detail-title">نام کلاس:</div>
			<div class="class-detail-value">کلاس مشاوره خانواده</div>
		</div>
		<div class="class-detail normal-font">
			<div class="class-detail-title">نام کلاس:</div>
			<div class="class-detail-value">کلاس مشاوره خانواده</div>
		</div>
		<div class="class-detail normal-font">
			<div class="class-detail-title">نام کلاس:</div>
			<div class="class-detail-value">کلاس مشاوره خانواده</div>
		</div>
		<div class="class-detail normal-font">
			<div class="class-detail-title">نام کلاس:</div>
			<div class="class-detail-value">کلاس مشاوره خانواده</div>
		</div>
		<div class="class-detail normal-font">
			<div class="class-detail-title">نام کلاس:</div>
			<div class="class-detail-value">کلاس مشاوره خانواده</div>
		</div>

		<div style="clear:both"></div>
	</div>

	<table cellspacing="0" cellpadding="0">
		<!-- header -->
	  	<tr>
	    	<td class="small-font system-default" rowspan="2">ردیف</td>
	    	<td class="small-font system-default" rowspan="2">نام و نام خانوادگی</td>
	    	<td class="small-font system-default">روز</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default">...شنبه</td>
	    	<td class="small-font system-default" rowspan="2">شماره تماس</td>
	    	<td class="small-font system-default" rowspan="2">توضیحات</td>
	  	</tr>
	  	<tr>
	    	<td class="small-font">تاریخ</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	    	<td class="small-font">...</td>
	  	</tr>
	  	<!-- end of header -->

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>

	  	<!-- record -->
	  	<tr>
	    	<td rowspan="2">۱</td>
	    	<td class="normal-font" rowspan="2">رضا محیطی</td>
	    	<td class="small-font system-default colory">حضور و غیاب</td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="colory"></td>
	    	<td class="normal-font">۳۷۷۴۰۱۰۱</td>
	    	<td rowspan="2"></td>
	  	</tr>
	  	<tr>
	    	<td class="small-font system-default">نمره</td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td class="normal-font">۰۹۳۸۶۶۴۸۶۸۵</td>
	  	</tr>
	</table>
{%endblock%}