<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>حرم</title>
	<base href="{{global.site_url}}">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{global.title}}</title>
	<!-- jQuery -->
	<script type="text/javascript" src="{{site_static}}/js/jquery-2.1.0.min.js"></script>
	<!-- Bootstrap -->
	<!--<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="./static/bootstrap/css/bootstrap-theme.css">
	<script src="./static/bootstrap/js/bootstrap.min.js"></script>
	<!-- Optimize -->
	<script type="text/javascript" src="{{'./static/js/main.js'|fcache}}"></script>
	<script type="text/javascript" src="{{'./static/js/state.js'|fcache}}"></script>
	<script type="text/javascript" src="{{'./static/js/modelSend.js'}}"></script>
	<script type="text/javascript" src="{{'./static/js/hendel.js'}}"></script>
	<!--css-->
	<!-- <link rel="stylesheet" href="./static/css/main.css"> -->
	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="{{site_static}}/css/main.css">

	<!-- Add Modernizr -->
	<!-- // <script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script> -->
</head>
<body id="home">
{% if extendForm%}
{% import macro.forms as forms %}
{% endif %}
	<div id="body">
	<div class="symbol-right"></div>
	<div class="symbol-left"></div>
		<div class="wrapper">
			<div class="head">
				<div class="top-tape"></div>
				<div class="header"></div>
				<div class="thin-line"></div>
				<div class="shamseh"></div>
			</div>
			<div style="height: 80px;"></div>
		<!-- 	<div class="slideshow-wrapper">
				<div class="slide-show"></div>
			</div> -->
			<div class="content-wrapper">
			<a href="#" class="navbar-brand">{{global.page_title}}</a>
				{%block content%}
				{%endblock%}
				<!-- <hr> -->
				
			</div>
			{%for key, debugs in debug%}
				{%if key != "status"%}
					{%for cKey, cDebug in debugs%}
						{%if cDebug.error%}
							{{cDebug[cDebug.group]}} : {{cDebug.error}}
						{%else%}
							{{cDebug}}
						{%endif%}
						<br>
					{%endfor%}
				{%endif%}
			{%endfor%}
			<div class="footer"></div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
	</div>
</body>
</html>
