{%extends layout%}
{% block content %}
<form class="xajx" method="post" action="users/status=list">
	{{forms.make(search)}}
</form>
{{tagMaker.list(person)}}
<style>
	#dtableme{
		direction: rtl;
		text-align: right;
	}
	.dataTable {
		width: 100%;
		border-spacing: 1px;
	}
	.dataTable tr.even {
		background-color: #fafafa !important;
	}
	.dataTable tr.odd {
		background-color: #f0f9f0 !important;
	}
	.dataTable tr:hover td {
		color: #333;
		background-color: #B0C4B0 !important;

	}
	.dataTable th {
		background-color: #f0f9f0 !important;
		color: #393939;
		font-size: 12px;
		font-family: "WYekan";
	}
	.dataTable td {
		text-align: right;
		padding: 5px 10px;
		font-family: "WRoya";
		color: #666;
		font-size: 13px;
		-webkit-transition: all 100ms linear;
		-moz-transition: all 100ms linear;
		-o-transition: all 100ms linear;
		transition: all 100ms linear;
	}
</style>
	{{dtable.make(dataTable)}}
{%endblock%}