{% extends layout %}
{% block content %}
<style type="text/css">
	#show-users-list {
		padding: 5px;
		clear: both;
		background-color: #ececec;
		display: inline-block;
		margin: 2px 10px 10px auto;
		border-radius: 5px;

	}
</style>
<a id="show-users-list" href="users/status=list" target="_blank" >نمایش افراد جهت ثبت در کلاس</a>

<!-- classes detail -->
<div class="class-detail">
	{{ tagMaker.list(list) }}
</div>

<!-- classes list -->
<div class="class-detail">
	{{dtable.make(dataTable)}}
</div>

{%endblock%}