{% extends layout %}
{% block content %}
<!-- classes detail -->
<div class="class-detail">
	{{ tagMaker.list(list) }}
</div>


<!-- classes list -->
<div class="class-detail">
	{{dtable.make(dataTable)}}
</div>

// <script type="text/javascript">
// 	$(".absence-date-main")[0].callBackDate = function(){
// 		// var date = $(this).val();
// 		// $(".absence-date").val(date);
// 		set_date();
// 	}

// 	function set_date() {
// 		var date = $(".absence-date-main").val();
// 		$(".absence-date").each(function(){
// 			var x = $(this).parents('td');
// 			var y = $(x).parents('tr');
// 			console.log(y);
// 			// console.log($(y).childs("td"));

// 			// if($(this).parentsarent('tr').child('.absence-check').checked()) {
// 			// 	console.log("he");
// 			// }else{
// 			// 	console.log("ne");
// 			// }
// 			$(this).val(date);
// 		});
// 	}
</script>
{%endblock%}