

<style type="text/css">
	.cls1{
		width:22px;
	}
	.cls2{
		width:116px;
	}
	.cls3{
		width:60px;
	}
	.cls4{
		width:60px;

	}
	.cslc{
		width:30px;
	}
	.clst{
		width:70px;
	}
	.clse{
		width:140px;

	}
	tbody{
		page-break-inside:avoid;
		page-break-after:auto;
		border-collapse: collapse;
		display:table;
	}
	td{
		height:23px;
	}
	@page {
		size: A4 landscape;
		margin:1.5cm 1cm 1cm 1cm;
	}




</style>
<div class="class-details colory">
	{% for key, header in detail.header %}
	<div class="class-detail normal-font">
		<div class="class-detail-title">{{header|lang}}:</div>
		<div class="class-detail-value"><b>{{detail.list[0][key]|lang}}</b></div>
	</div>
	{%endfor%}


	<div style="clear:both"></div>
</div>

<table cellspacing="0" cellpadding="0">
	<!-- header -->
	<tr>
		<td class="small-font system-default cls1" rowspan="2">ردیف</td>
		<td class="small-font system-default cls2" rowspan="2">نام و نام خانوادگی</td>
		<td class="small-font system-default cls3" rowspan="2">نام کاربری</td>
		<td class="small-font system-default cls4">روز</td>
		<td class="small-font system-default cslc weekdays" xclass="xm1">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm2">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm3">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm4">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm5">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm6">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm7">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm8">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm9">...شنبه</td>
		<td class="small-font system-default cslc weekdays" xclass="xm10">...شنبه</td>
		<!-- <td class="small-font system-default cslc">...شنبه</td>
		<td class="small-font system-default cslc">...شنبه</td>
		<td class="small-font system-default cslc">...شنبه</td>
		<td class="small-font system-default cslc">...شنبه</td>
		<td class="small-font system-default cslc">...شنبه</td> -->
		<td class="small-font system-default clst bridge" rowspan="2"><span >شماره تماس</span></td>
		<td class="small-font system-default clse" rowspan="2">توضیحات</td>
	</tr>
	<tr>
		<td class="small-font">تاریخ</td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm1"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm2"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm3"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm4"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm5"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm6"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm7"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm8"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm9"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;" xclass="xm10"></td>
		<!-- <td class="small-font"><input type="text" date="date" style="width:67px;"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;"></td>
		<td class="small-font"><input type="text" date="date" style="width:67px;"></td> -->
	</tr>
	<!-- end of header -->
	<!-- record -->
	{% for key, list in list %}
	<tbody>
		<tr>
			<td rowspan="2" class="cls1">{{key +1}}</td>
			<td class="normal-font cls2" rowspan="2">{{list.name}} {{list.family}}</td>
			<td rowspan="2" class="small-font cls3">{{list.username}}</td>
			<td class="small-font system-default colory cls4">ثبت غیبت</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm1">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm2">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm3">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm4">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm5">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm6">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm7">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm8">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm9">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<td class="colory cslc" style="width:71px;" style="width:71px;">
				<a class="insertAbsenceApi icodadd" classificationid="{{list.classificationid}}" style="cursor:pointer;" xclass="xm10">
					<!-- <img src="static/svg/icons/dadd.svg" style="width:20px"> -->
				</a>
			</td>
			<!-- <td class="colory cslc" style="width:71px;"><button type="submit" id="backPortal">
					<a href="classification/class/classesid={{classesid}}" class="a-undefault">
						<img src="static/svg/icons/dadd.svg" style="width:20px">
					</a>
				</button>
			</td>
			<td class="colory cslc" style="width:71px;"><button type="submit" id="backPortal">
					<a href="classification/class/classesid={{classesid}}" class="a-undefault">
						<img src="static/svg/icons/dadd.svg" style="width:20px">
					</a>
				</button>
			</td>
			<td class="colory cslc" style="width:71px;"><button type="submit" id="backPortal">
					<a href="classification/class/classesid={{classesid}}" class="a-undefault">
						<img src="static/svg/icons/dadd.svg" style="width:20px">
					</a>
				</button>
			</td>
			<td class="colory cslc" style="width:71px;"><button type="submit" id="backPortal">
					<a href="classification/class/classesid={{classesid}}" class="a-undefault">
						<img src="static/svg/icons/dadd.svg" style="width:20px">
					</a>
				</button>
			</td>
			<td class="colory cslc" style="width:71px;"><button type="submit" id="backPortal">
					<a href="classification/class/classesid={{classesid}}" class="a-undefault">
						<img src="static/svg/icons/dadd.svg" style="width:20px">
					</a>
				</button>
			</td> -->
			<td class="normal-font clst bridge"><span >{{list.phone}}</span></td>
			<td rowspan="2" class="clse">{{list.price}}</td>
		</tr>
		<tr>
			<td class="small-font system-default">وضعیت</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<!-- <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td> -->
			<td class="normal-font bridge"><span>{{list.mobile}}</span></td>
		</tr>
	</tbody>
	{%endfor%}
</table>
<script type="text/javascript">
$(document).ready(function(){
	$("body",this).find("input[date=date]").each(function(){
		var _self = $(this);
		$(this).persianDatepicker({
			formatDate:"YYYY-MM-DD",
			isRTL:false,
			onSelect: function() {
				set_attr(_self);
			},
			onChange: function(){
			}

		});

	});

	function set_attr(_self) {
		console.log(_self);
		xclass = $(_self).attr("xclass");
		val = $(_self).val();
		$("a[xclass="+xclass+"]").each(function(){
			$(this).attr("date", val);
		});
	}

	function convert_date(date) {
		date = date.split("-");
		if(date[0].length == 4) y = date[0];
		if(date[1].length != 2) {
			m = "0" + date[1];
		}
		if(date[2].length != 2) {
			d = "0" + date[2];
		}
		return y + "" + m + "" + d;
	}

	$("a.insertAbsenceApi", this).click(function(){
		date = $(this).attr("date");
		
		if(typeof date == "undefined") {
			xhr_error("تاریخ انتخاب نشده است");
			return false;
		}	

		classification = $(this).attr("classificationid");
		// date = $(this).attr("date");
		date = convert_date(date);


		type = "unjustified absence";
		
		_self = $(this);
		
		if($(_self).hasClass("insertAbsenceApi")){
			$.ajax({
				type: "POST",
				url : "absence/api/classification=" + classification + "/date=" + date + "/type=" + type,
				success : function(data){
					
					xhr_result(data);
					if(data.fatal){
						$(_self).removeClass("icodadd insertAbsenceApi").addClass("icoredclose deleteAbsenceApi");
					}else{
						$(_self).removeClass("icodadd insertAbsenceApi").addClass("icoredclose deleteAbsenceApi");
					}
				}
			});		

		}else if($(_self).hasClass("deleteAbsenceApi")){
			$.ajax({
				type: "POST",
				url : "absence/apidelete/classification=" + classification + "/date=" + date,
				success : function(data){
					xhr_result(data);
					if(data.fatal){
						$(_self).removeClass("icoredclose deleteAbsenceApi").addClass("icodadd insertAbsenceApi");
					}else{
						$(_self).removeClass("icoredclose deleteAbsenceApi").addClass("icodadd insertAbsenceApi");
					}
				}
			});	
		}
		return false;
	});	
	
});
</script>