{% extends layout %}
{% block head %}
{{ parent() }}
	{% if type == 'default' or type == 0 %}
		{{ include('classification/printlist/defaultCss.html') }}
	{% elseif type == 'hefz'%}
		{{ include('classification/printlist/hefzCss.html') }}
	{% else %}
		{{ include('classification/printlist/defaultCss.html') }}
	{% endif %}
	<style type="text/css">
	@media print{
		#type,#backPortal {
			display: none;
		}
	}
	#type a,label {
		padding: 5px;
		font-family: "WRoya";
	}
	#backPortal {
		float: left;
	}
	.botton-link {
		padding: 10px;
		clear: both;
		background-color: #ececec;
		border: 1px solid green;
		display: inline-block;
		margin: 2px 10px 10px auto;
		border-radius: 5px;

	}
	</style>

{%endblock%}
{% block body %}

<button type="submit" id="backPortal">
	<a href="classification/class/classesid={{classesid}}" class="a-undefault">
		<img src="static/svg/icons/redclose.svg" style="width:20px">
	</a>
</button>
<div id="type">
	<a href="classification/printlist/classesid={{classesid}}/type=default" class=" botton-link a-undefault">دوره های کوتاه مدت</a>
	<a href="classification/printlist/classesid={{classesid}}/type=hefz" class=" botton-link a-undefault">دوره های حفظ</a>
	<a href="classification/printlist/classesid={{classesid}}/type=score" class=" botton-link a-undefault">لیست نمرات</a>
	<a href="classification/printlist/classesid={{classesid}}/type=bridge" class=" botton-link a-undefault">لیست پل های ارتباطی</a>
	<a href="classification/printlist/classesid={{classesid}}/type=rokhani" class=" botton-link a-undefault">آزمون روخوانی</a>
	<a href="classification/printlist/classesid={{classesid}}/type=tajvid" class=" botton-link a-undefault">آزمون تجوید</a>
	<a href="classification/printlist/classesid={{classesid}}/type=cover" class=" botton-link a-undefault">جلد</a>
	<a href="classification/printlist/classesid={{classesid}}/type=absence" class=" botton-link a-undefault">ثبت غیبت با لیست کلاسی</a>
	
	<a href="classification/printlist/classesid={{classesid}}/type=scoreclasses" class=" botton-link a-undefault">ثبت نمرات روزانه کلاس</a>
	<label class="label-custom" >نمایش پل های ارتباطی
	<input type="checkbox" value="checked" id="bridge" checked="checked" >
	<span class="brk-form-custom">
		<span></span>
		<span></span>
	</span></label>
</div>
	<script type="text/javascript">
	$("#bridge").click(function(){

		if($(this).val() == "checked") {
			$(this).val("no");
			$(".bridge").css("display", "none");
		}else{
			$(this).val("checked");
			$(".bridge").css("display", "");
		}	
	});
	</script>
	{% if type == 'default' or type == '0' %}
		{{ include('classification/printlist/defaultList.html') }}
	{% elseif type == 'hefz'%}
		{{ include('classification/printlist/hefzList.html') }}
	{% elseif type == 'score'%}
		{{ include('classification/printlist/scoreList.html') }}
	{% elseif type == 'bridge'%}
		{{ include('classification/printlist/bridgeList.html') }}
	{% elseif type == 'rokhani'%}
		{{ include('classification/printlist/rokhani.html') }}
	{% elseif type == 'tajvid'%}
		{{ include('classification/printlist/tajvid.html') }}
	{% elseif type == 'absence'%}
		{{ include('classification/printlist/absence.html') }}
	{% elseif type == 'cover'%}
		{{ include('classification/printlist/cover.html') }}
	{% elseif type == 'scoreclasses'%}
		{{ include('classification/printlist/scoreclasses.html') }}
	{% else %}
		{{ include('classification/printlist/defaultList.html') }}
	{% endif %}
{%endblock%}