{% extends layout %}
{% block head %}
{{ parent() }}
	{% if type == 'default' or type == 0 %}
		{{ include('classification/printlist/defaultCss.html') }}
	{% elseif type == 'hefz'%}
		{{ include('classification/printlist/hefzCss.html') }}
	{% else %}
		{{ include('classification/printlist/defaultCss.html') }}
	{% endif %}
	<style type="text/css">
	@media print{
		#type {
			display: none;
		}
	}
	#type a,label {
		padding: 5px;
		font-family: "WRoya";
	}
	#backPortal {
		float: left;
	}
	</style>

{%endblock%}
{% block body %}

<button type="submit" id="backPortal">
	<a href="classification/class/classesid={{classesid}}" class="a-undefault">
		<img src="static/svg/icons/redclose.svg" style="width:20px">
	</a>
</button>
<div id="type">
	<a href="classification/printlist/classesid={{classesid}}/type=default" class="a-undefault">دوره های کوتاه مدت</a>
	<a href="classification/printlist/classesid={{classesid}}/type=hefz" class="a-undefault">دوره های حفظ</a>
	<a href="classification/printlist/classesid={{classesid}}/type=score" class="a-undefault">لیست نمرات</a>
	<a href="classification/printlist/classesid={{classesid}}/type=bridge" class="a-undefault">لیست پل های ارتباطی</a>

	<label class="label-custom" >نمایش پل های ارتباطی
	<input type="checkbox" value="checked" id="bridge" checked="checked" >
	<span class="brk-form-custom">
		<span></span>
		<span></span>
	</span></label>
</div>
	<script type="text/javascript">
	$("#bridge").click(function(){

		if($(this).val() == "checked") {
			$(this).val("no");
			$(".bridge").css("display", "none");
		}else{
			$(this).val("checked");
			$(".bridge").css("display", "");
		}	
	});
	</script>
	{% if type == 'default' or type == '0' %}
		{{ include('classification/printlist/defaultList.html') }}
	{% elseif type == 'hefz'%}
		{{ include('classification/printlist/hefzList.html') }}
	{% elseif type == 'score'%}
		{{ include('classification/printlist/scoreList.html') }}
	{% elseif type == 'bridge'%}
		{{ include('classification/printlist/bridgeList.html') }}
	{% else %}
		{{ include('classification/printlist/defaultList.html') }}
	{% endif %}
{%endblock%}