<!DOCTYPE html>
<html lang="fa">
<head>
	<base href="{{global.ahost}}">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{global.title}}</title>
	<!-- jQuery -->
	<script type="text/javascript" src="./static/js/jquery-2.1.0.min.js"></script>
	<!-- Bootstrap -->
	<!--<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="./static/bootstrap/css/bootstrap-theme.css">
	<script src="./static/bootstrap/js/bootstrap.min.js"></script>
	<!-- Optimize -->
	<script type="text/javascript" src="{{'./static/js/main.js'|fcache}}"></script>
	<script type="text/javascript" src="{{'./static/js/state.js'|fcache}}"></script>
	<script type="text/javascript" src="{{'./static/js/modelSend.js'}}"></script>
	<script type="text/javascript" src="{{'./static/js/hendel.js'}}"></script>
	<!--css-->
	<link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
	{% if extendForm%}
	{% import macro.forms as forms %}
	{% endif %}
	<header class="navbar navbar-static-top bs-docs-nav">
		<div class="container">
			<div class="navbar-header pull-right">
				<a href="#" class="navbar-brand">{{global.title}}</a>
			</div>
		</div>
	</header>

	<div class="container bs-docs-container">
		<div class="row">
			<div class="col-md-9">
				<section id="content">
					{%block content%}
					{%endblock%}
				</section>
			</div>
			<style type="text/css">
			#ahmad * {
				font-size: 20px;
			}
			</style>
			<pre id="ahmad" style="direction: ltr; text-align: left; font-size: 20px;"></pre>
			<!-- <div class="col-md-3">
				<div class="bs-docs-sidebar hidden-print affix">
					<ul class="nav bs-docs-sidenav">
						<li class="active">
							<a href="./login" id="c">
							<span class="glyphicon glyphicon-home"></span>
							login
							</a>
						</li>
						<li>
							<a href="./hi" id="c">hi</a>
						</li>
						<li>
							<a href="{{global.ahost}}" id="c">home</a>
						</li>
						<li>
							<a href="./track" class='ajx' id="xload">logout</a>
						</li>
					</ul>
				</div>
			</div> -->
		</div>
	</div>
</body>
</html>